

@import "tailwindcss";
body{
background-color: #0a192f;
    color: white;
}
.bg-mode{
    background-color: #091628;
}


.bgcolor{
    background-color: #1f3452;
}
.bgcolor:hover{
    transform: scale(1.03);
    color: rgb(41, 210, 207);
}
@media (max-width:500px) {
    .img-div{
        margin-top: 40px;
    }
}
